$default-text-color: $Cod-Gray;
*,
*:before,
*:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;

    border: 0;
    background: none;

    font-kerning: auto;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html
{
    font-family: $raleway;

    color: $default-text-color;

    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
}

[type=reset],
[type=submit],
button,
html [type=button]
{
    -webkit-appearance: button;
}

a,
a:hover,
a:visited
{
    text-decoration: none;
}
input:focus,
a:focus,
button:focus
{
    // outline: 1px dashed rgba(rgb(37, 37, 37), 0.5);
    outline: none!important;
}
ol,
ul
{
    list-style: none;
}

img
{
    image-rendering: auto;
    image-rendering: -o-crisp-edges;
}
@media not all and (min-resolution:.001dpcm)
{
    @supports (-webkit-appearance:none)
    {
        img
        {
            image-rendering: unset!important;
        }
    }
}
